.main {
	--background-color: rgb(255, 255, 255);
	--text-color: rgb(0, 0, 0);
	background-color: var(--background-color);
	color: var(--text-color);
	transition-property: var(--background-color);
	transition-duration: 0.3s;
	width: 100%;
	height: 100%;
	padding: 50px;
}

.dark {
	--background-color: rgb(25, 25, 25);
	--text-color: rgb(255, 255, 255);
}

.item {
	display: grid;
	/* grid-template-columns: auto auto; */
	align-items: center;

	grid-template-columns: 1fr 2fr;
	grid-template-rows: 1fr;
	margin-right: 30%;
	margin-bottom: 2%;
	/* grid-column-gap: 10px; */
}

.item img {
	max-width: 100px;
}

.item h6 {
	/* max-width: 500px; */
	color: var(--text-color);
}

.outer {
	display: grid;
	height: auto;
	width: auto;
	justify-content: center;
	grid-template-columns: 0.5fr 2fr 0.5fr;
	grid-template-rows: 0.3fr 1fr;
	grid-column-gap: 10px;
}

.sBarToggle {
	border-radius: 5px;
	width: 125px;
	/* margin-left: -45%; */
}